.about {
	display: flex;

	&__contact {
		flex: 0 0 35%;
	}

	&__info {
		flex: 0 0 65%;
	}

	&__contact-card {
		width: 80%;
		background-color: $background-color-2;
		color: $color-primary;
		margin: 3rem 0;
		padding: 1.5rem 1.5rem;
		border-radius: 3px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

		h2 {
			margin-bottom: 1rem;
		}
		
		&:hover {
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		}
	}

	&__photo {
		width: 100%;
		height: 20rem;
		object-fit: cover;
	}

	&__address {
		font-size: 1.7rem;
		font-weight: bold;
		margin-bottom: 2.4rem;
		word-spacing: 2px;

		span {
			color: $color-white;
			font-weight: 400;
		}
	}

	@media screen and (max-width: 800px) {
		display: block;
	}

	.about__contact-card {
		@media screen and (max-width: 800px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
