.about {
	display: flex;

	&__contact {
		flex: 0 0 35%;
	}

	&__info {
		flex: 0 0 65%;
	}

	&__contact-card {
		width: 80%;
		background-color: #ffffff;
		color: $color-primary;
		margin: 3rem 0;
		padding: 2.5rem 1.5rem;
		border-radius: 3px;
	}

	&__photo {
		width: 100%;
		height: 20rem;
		object-fit: cover;
	}

	&__address {
		font-size: 1.4rem;
		font-weight: bold;
		margin-bottom: 3rem;
		word-spacing: 2px;

		span {
			color: $color-black;
			font-weight: 400;
		}
	}

	@media screen and (max-width: 800px) {
		display: block;
	}

	.about__contact-card {
		@media screen and (max-width: 800px) {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
