.events {
	margin: 3rem 0;

	h1 {
		font-weight: 300;
		font-size: 3.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 4rem;
		u {
			border-bottom: 0.1rem solid $color-primary;
			text-decoration: none;
		}
	}

	&__events-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.btn , .signInBtn {
	margin-top: 1.5rem;
}
