.homepage {
	&__logo-wrapper {
		height: calc(100vh - 7rem);
		display: flex;
		align-items: center;
		justify-content: center;

		div {
			z-index: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__logo {
		width: 55rem;
		z-index: 50;
	}

	.homepage__logo-wrapper {
		display: grid;
	}

	.homepage__logo {
		max-width: 100%;
		padding: 3%;
		top: -15%;
		position: relative;
	}

	.scrollButton {
	    cursor: pointer;
		position: relative;
		z-index: 100;
	}

	.scrollLink {
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translateX(-50%);
	}	

}

.react-countdown {
	display: inline-block;
	margin: 0;
	top: 66%;
	left: 0;
	right: 0;
	position: absolute;
	padding: 0;
}

.countdown {
	text-align: center;
}

.react-countdown .digit {
	font-size: 52px !important;
	color: #c6c6c6;
}
.react-countdown .text {
	font-size: 25px !important;
	color: rgba(94, 201, 248, 0.9);
}

.react-countdown li:after {
	right: -20px;
}

.react-countdown li {
	margin: 0 15px !important;
}

.start-heading {
	position: absolute;
    top: 60%;
    right: 0;
    left: 0;
    margin-left: auto;
	margin-right: auto;
	color: rgba(94, 201, 248, 0.9);
}

.start-text {
	text-align: center;
}
