.footer_logo {
    max-width: 25% !important;
    width: 28%;
    padding: 1%;
    padding-right: 5%;
}

.footer {
    display: flex;
    flex-flow: row;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}

.footer-container {
    border-top: 2px solid #5EC9F8;
    line-height: 1.5;
    padding: 0.5rem;
}

.links {
    width: 25%;
    padding: 1%;
    line-height: 2;
}

.contact {
    width: 25%;
    padding: 1%;
    line-height: 2;
}

.footer-header {
    color:#5EC9F8;
    font-weight: 200;
}

.footer-border {
    border-bottom: 0.1rem solid white;
    text-decoration: none;
}

.header-color {
    color: #5EC9F8;
}

.footer-item {
    font-size: 0.8em;
}

.footer-link {
    text-decoration: none;
}

.institute-logo {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    max-width: 460px;
    margin-right: 15px;
}

.institute-logo span {
    height: 4.8rem;
    font-size: 2.1rem;
    line-height: 2.3rem;
}

.institute-logo img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .footer {
        display: flex;
        flex-flow: column;
        font-size: 2em;
        justify-content: center;
        align-items: center;
    }

    .institute-logo {
        width: 80%;
    }

    .institute-logo span {
        height: 6rem;
        font-size: 1.8rem;
        line-height: 2rem;
    }

    .links {
        width: 80%;
    }

    .footer_logo {
        max-width: 100% !important;
        width: 100%;
    }

    .contact {
        width: 80%;
    }
}