.flex-container {
	display: flex;
	flex-direction: row;
	height: calc(100vh - 7rem);
	color: #eeeeee;
	justify-content: space-between;
}

.flex-item1 {
	flex: 0 0 25%;
	text-align: left;
	margin-top: 14rem;
	margin-left: 13rem;
	flex-grow: 1;
}

.team--heading {
	color: #435eff;
}
.team--detail {
	font-size: 1.4rem;
	margin-bottom: 1rem;
}

.flex-item2 {
	flex-grow: 10;
	margin-top: 7%;
	margin-left: 4%;
}

h1 {
	font-size: 30px;
	padding-bottom: 3%;
}

.wrapper {
	width: 100%;
	padding: 0;
}

.panels {
	list-style-type: none;
}

.panels li {
	position: relative;
	width: 25%;
	margin: 1%;
	display: flex;
	float: left;
}

.panels li div.front {
	width: 100%;
	cursor: pointer;
}

a {
	color: white;
}

.panels li div.back {
	display: flex;
	flex-direction: column;
	background-color: rgb(34, 36, 40);
	text-align: center;
	letter-spacing: 0.1rem;
	width: 100%;
	font-size: 20px;
	border-radius: 5px;
	height: inherit;
	padding: 1%;
}
.panels li div.back > h4 {
	margin-top: 19%;
}

.panels li div.back > h6 {
	margin-top: 9%;
	padding: 2%;
}

.panels li div.back ul li {
	margin-top: 35%;
	list-style-type: none;
	float: left;
	margin-left: 7.2%;
	padding: 1%;
}

img {
	width: 100%;
	border-radius: 3px;
	outline: none;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	border-style: none;
	list-style: none;
}

.panels div.back {
	transform: rotateY(90deg);
}

.panels div.front {
	position: absolute;
}

.panels li:hover div.front {
	animation: flip 0.3s linear forwards;
}

.panels li:hover div.back {
	visibility: visible;
	animation: flip 0.3s 0.2s linear forwards reverse;
}

#team-loader {
	height: 80vh;
	widht: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes flip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(90deg);
	}
}

@media screen and (max-width: 700px) {
	.flex-container {
		flex-direction: column;
	}
}
