.social-icons {
	position: fixed;
	top: 7rem;
	left: 0;
	height: calc(100vh - 7rem);
	width: 7.5%;
	padding-bottom: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	a {
		display: inline-block;
		margin: 2rem auto;
		transition: 0.15s ease-in-out;

		&:hover {
			transform: scale(1.3, 1.3);
		}
	}

	&__icon {
		width: 2.5rem;	
	}

	@media screen and (max-width: 840px) {
		top: 23px;
		right: 20px;
		left: auto;
		height: 3rem;
		width: fit-content;
		flex-direction: row;
		justify-content: center;

		a {
			display: inline-block;
			margin: 0px 1.3rem;
		}
	}
}
