.user-card {
	position: relative;
	flex: 0 0 25rem;
	margin-right: 5%;
	cursor: pointer;
	height: 25rem;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 3rem;

	&__image {
		height: 25rem;
		width: 25rem;
	}

	&__image:hover + &__overlay {
		transform: translateY(0);
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 25rem;
		height: 25rem;
		background-color: rgba($color-black, 0.6);
		padding: 2rem;
		transform: translateY(100%);
		transition: all 0.3s ease-in-out;
	}

	&__overlay:hover {
		transform: translateY(0);
	}

	&__username {
		text-align: center;
		font-size: 2rem;
		text-transform: uppercase;
	}

	&__role {
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 0.5rem;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__social-icons {
		display: flex;
		justify-content: center;
	}

	&__twitter-icon {
		margin-right: 1.2rem;
	}

	&__github-icon {
		margin-right: 1.2rem;
	}
}
