.timeline-item-dateinner {
    background-color: #5ec9f8;
    color: #fff;
}

.body-container{
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    color :#fff;
    border-style: solid;
    border-Color: #5ec9f8;
    border-Width: 1.5px;
    margin-Bottom: 80px;
    p {
        font-size: 12px;
    }
}

.timelinePdf {
    display: inline-block;
    color: rgba($color-primary, 0.9);
    font-weight: 800;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.1s linear;
    border-bottom: 0.2rem solid rgba(255, 255, 255, 0);
    position: absolute;
    left: 95%;
    margin-left: -50px;
    font-size: 1.6rem;
    border: 1px solid #5ec9f8;
    padding: 10px;
    border-radius: 25%;

    &:hover {
        background-color: $color-white;
        color: $color-primary;
    }

    @media screen and (max-width: 840px) {
        left: 50%;
    }
}

