.timeline-item-dateinner {
    background-color: #435eff;
    color: #fff;
}

.body-container{
    background: #1b1b1b;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0.5rem 0.5rem 2rem 0 rgba(0, 0, 0, 0.2);
    color :#fff;
    border-style: solid;
    border-Color: #435eff;
    border-Width: 1.5px;
    margin-Bottom: 80px;
    p {
        font-size: 12px;
    }
}

